.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-item-left{
    width: 30%;
    margin-left : auto;
    margin-right : auto;
    text-align: right;
    padding: 2.2rem 2rem 0 2rem;
    margin-bottom: 0;
}

.flex-item-right{
    width: 70%;
    padding: 2rem 0 0 0;
}

.weMetaData p{
    padding : 0;
    margin: 0;
    line-height: 1.2;
}

.weMetaData span{
    display: inline-block;
}

.imgAtt{
    margin-bottom : 0.5rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
  
  span{
    display: flex;
    flex-direction: column;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }

  .we-div{
    text-align: right;
  }

  .flex-item-left{
    width: 100%;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
    padding: 2.2rem 2rem 0 2rem;
    margin-bottom: 0;
  }

  .flex-item-right{
    width: 100%;
    padding: 1rem 0 0 0;
  }
}

@font-face{
    font-family: h1font;
    src: url(../fonts/SFProDisplay-HeavyItalic.ttf)
  }
  
  @font-face{
    font-family: h2font;
    src: url(../fonts/SFProDisplay-Semibold.ttf);
  }
  
  @font-face{
    font-family: pfont;
    src: url(../fonts/SFProDisplay-Regular.ttf);
  }
  
  @font-face{
    font-family: pitalicfont;
    src: url(../fonts/SFProDisplay-RegularItalic.ttf);
  }
  